html, body {
  width: 100%;
  height: 100%;
}

*/starts here/*

        *{
            box-sizing: border-box;
        }

        body{
            margin: 0;
            background-color: #232323;
            color: #fff;
            font-family: Calibri, sans-serif;
        }

        .center{
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        p{
            width: 70%;
            font-size: 30px;
            display: block;
            text-align: center;
        }

        .char{
            font-size: 40px;
            height: 40px;
            animation: an 1s ease-out 1 both;
            display: inline-block;
        }

        @keyframes an{
            from{
                opacity: 0;
                transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
            }
            to{
                opacity: 1;
                transform: perspective(500px) translate3d(0, 0, 0);
            }
        }
.mylink{
  position: absolute;
  z-index: 150;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: right;
  padding: .6rem;
}

.mylink a{
  font-family: Calibri;
  color: #fff;
  border-bottom: 1px solid #fff;
  opacity: .5;
  transition: opacity .3s;
  text-decoration: none
}
.mylink a:hover{
  opacity: 1
}

*/ends here/*

.title {
  text-align: center;
  height: 50px;
  color: black;
  padding-top: 50px;
  margin: 0;
  background-color: 0;
}

.text {
background: linear-gradient(
    120deg,
    var(--primary-color-alt),
    var(--primary-color);
  );
  background-clip: text;
  text-fill-color: transparent;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
}

.bg-img {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("http://unsplash.it/1200x800") center center no-repeat;
  background-size: cover;
}
.bg-img:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
  opacity: 0.6;
}
